/* h2{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    -webkit-text-stroke: .05rem #ed1e32 ;
    font-weight: 100;
}

 h2::before{
    content: attr(data-text-2);
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    color:#ed1e32;

    border-left: 2px solid #ed1e32;
    overflow: hidden;
    animation: animate 4s linear infinite;
}

@keyframes animate

{
    0%,10%,100%{
        width: 0;
    }
   30%, 80%,90%{
        width: 100%;
    }
}




.enroll-container{
    background: rgba(173, 199, 255, 0.502);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}



.wrapper{
    width: 550px;
    height: 76vh;
    background-color: #2878EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
     margin-top: 10px;
}

.form{
    width: 500px;
      height: 50vh;
   padding: 10px;
   margin-top: 5px;
  
    
}

.input_field_1{
       display: flex;
    gap: 20px;
}





.input{
       width: 43%;
    padding: 10px;
    margin-bottom: 8px;
    font-size: 10px;
    border: none;
    outline: none;
}

.input:focus{
    border: 1px solid #ed1e32;
}

.input_field_3{
    display: flex;
    align-items: center;
    background-color: red;
    justify-content: space-between;
    gap: 70px;
}



 select{
    width: 20%;
    height: 35px;
    padding: 5px;
    color: gray;
    background-color: #fff;
}

.textarea{
    width: 94%;
    height: 10vh;
    font-size: 10px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

.textarea:focus{
    border: 1px solid #ed1e32;
}

.input_field_3{
    display: flex;
    align-items: center;
    background-color: red;
    justify-content: space-between;
    gap: 70px;
}

.input_field_3 input{
    width: 90%;
}

.input_input_three{
    width: 50%;
}

.age{
    width: 97px;
    height: 30px;
}

.select{
    border: none;
    outline: none;
    margin-top: 15px;
}



.pillar-button{
    background-color: #ee2a3d;
    border-color: #ed1e32;
    color: #fff;
    width: 70%;
       padding: .5rem;
    margin-left: 75px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.input_field {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}



.input_field p{
    color:#fff;
} */


.form-container{
    display: flex;
    flex-direction: column;
    background-color: azure ;
    width: 700px;
    margin: auto;
    margin-top: 10px;
    /* height: 50vh; */
}

h2{
    color: #ed1e32;
    width: 50%;
    margin: auto;
    margin-bottom:20px;
}






.pillar-button{
    background-color: #ee2a3d;
    border-color: #ed1e32;
    color: #fff;
    width: 70%;
       padding: .1rem;
    margin-left: 75px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: .1rem;
    margin-top: .1rem;
    cursor: pointer;
    
}

.select-container{
    width: 100%;
    border-radius: 8px;

}

.message-input{
    margin-bottom: 20px;
}

.message-input input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;

}

.Enroll-btn{
    background-color:#ed1e32;
    height: 50px;
    margin-top: 30px;
}

